<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.wilsonberkow.margarita"
        version="1.0.0">
    <name>Margarita</name>
    <description>
        Thwart Woland in this game of The Master and Margarita!
    </description>
    <author email="wilsonberkow@gmail.com">
        Wilson Berkow
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="fullscreen" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true"/>
    <icon src="res/icon.png" />
    <gap:splash src="res/splashscreen.png" />
    <preference name="permissions" value="none"/>
</widget>
